.nav-body{
    width:1440px ;
    height: 100px;
    font-family: poppine;
   background-color: #FFFFFF;
}
.body{
    display: flex;
}

.logo{
    margin-left: 54px;
    width: 185px;
    height: 41px;
    margin-top: 29px;
    gap: 5px;
}
.nav-link{
    width: 2500px;
    height: 24px;
    margin-top: 38px;
    margin-left: 150px;
}
.nav-link .link{
   width: 48px;
   height: 24px;
   margin-top: 38px;
   margin-left: 50px;
   margin-right: 1.5rem;
   font-size: 1.5rem;
   font-weight: 600;
   color: black;
   text-decoration: none;
}
.icon{
    width: 40px;
    height: 30px;
    margin-left: 2rem;
}
.icons-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 36px;
    
}